// Sassy
nav {
  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline;
    margin-right: 10px;
  }
}

.task_list {
  list-style-type: none;
  padding: 0;
}

form {
  label {
    display: block;

    input, textarea {
      display: block;
    }
  }
}

a {
  color: #000;

  &:hover {
    text-decoration: none;
  }

  &.active {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
